<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
    <!--<add connectionString="server=localhost;Trusted_Connection=false;database=mlp_PlunkettLibrary;uid=mlp_Admin;pwd=Buck$2@14"
         name="LibraryConn" providerName="System.Data.SqlClient" />-->
    <add  name="LibraryConn" connectionString="DSN=PlunkettLibrary;UID=mlp_Admin;Pwd=Buck$2@14"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
